@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* COMMON SECTION */

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: row-reverse;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 0 0;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2, h3 {
    font-size: 1em;
}

.title {
    background-color: #1a3755 !important;
    padding: 1rem 0;
    color: white;
}

.sub-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 1.2em;
}

body {
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

/* HEADER */
/* General Header Styling */
/* General Header Styling */
#header {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu-area {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo-area{
    margin-left: 5px;
}

.logo-area img {
    width: 120px;
    height: auto;
}

/* Menu Styling */
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#primary-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#primary-menu li {
    margin-right: 20px;
}

#primary-menu a {
    color: #333;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px;
}

.menu-item-has-children {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%; /* Solutions 메뉴 바로 아래에 위치 */
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    min-width: 200px;
    z-index: 999; /* 메뉴가 다른 요소 위에 나타나도록 설정 */
}

.sub-menu li {
    padding: 10px;
}

.sub-menu a {
    text-decoration: none;
    color: #333;
}

.sub-menu a:hover {
    color: #007bff;
}


/* Menu Toggle Button for Mobile */
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 1000px) {
    .menu-responsive {
        position: relative;
    }

    /* Hide menu by default on mobile */
    .navbar-collapse {
        display: none;
    }

    /* Show the toggle button */
    .menu-toggle {
        display: block;
        color: #333;
        font-size: 30px;
        margin-right: 20px;
    }

    /* Show menu when active */
    .navbar-collapse.active {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Mobile menu styles */
    #primary-menu {
        flex-direction: column;
    }

    #primary-menu li {
        margin: 10px 0;
    }

    .sub-menu {
        position: static;
        box-shadow: none;
    }
}




/* SECTION */
#section1{
    width: 45%;
    height: 75%;
    left: 2%;
    bottom: 2%;
    position: fixed;
    overflow: scroll;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: height  0.1s ease-out;
}

#section2{  
    width: 50%;
}

/* Flexbox */
#section1 .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#section2 .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #1a3755;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
    text-align: center;
}

.card-body {
    padding: 15px;
}

.inner-row {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.inner-col {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    min-width: 100px;
}

.inner-col img {
    height: 50px;
}

.appliance-item {
    display: flex;
    flex-direction: column;
    height: 120px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.appliance-item:hover {
    background-color: #e0e0e0;
}

.appliance-label {
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;    
}

.appliance-item img {
    height: 50px;
}

/* RESULT SECTION */
.results-section {
    margin: 5px;
}

.results-data {
    padding: 0;
    margin-top: 20px;
}

.results-data input{
    width: 50%;
}

.results-elements{
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    flex-direction: row;
}

.results-elements img{
    margin-right: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    font-size: 0.7rem;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table-secondary {
    background-color: #f1f1f1;
}

#results-section table {
    width: 100%;
    border: 1px solid #ddd;
    table-layout: auto;
    word-wrap: break-word;
}

#summary-table td {
    font-size: 0.8rem;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.img-sys {
    max-width: 100%;
}

#appliance-list input{
    width: 100%;
}

@media (max-width: 900px) {
    .container{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    
    #section1{
        position: unset;
        width: 100%;
        padding: 10px 0px;
        overflow: unset;
        box-shadow: none;
        transition: none !important;
    }

    #section2{  
        width: 100%;
    }

    #summary-table td {
        padding: 4px 0px;
    }
}

@media (max-width: 768px) {
    .col{
        padding: 0;
    }

    .col, #section2 .inner-col {
        /* flex: 0 0 100%; */
        max-width: 100%;
    }
    
    .inner-row, #section2 .row {
        /* flex-direction: column !important; */
    }

    .card {
        margin-bottom: 20px;
    }

    .results-data {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .results-data .w-100{
        width: 99%;
    }
}
